In [37]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from helper import *

In [38]:
file_path_DogOverview = "../Dataset/DogOverview/DogOverview_CSV_DAP_2021_DogOverview_v1.0.csv"
df_DogOV = pd.read_csv(file_path_DogOverview)
df_DogOV

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,LifeStage_Class_at_HLES,CSLB_2020_Complete,CSLB_2021_Complete,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Senior,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Mature Adult,Y,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Young Adult,Y,Y,NNNNNNNNNNN,N,NaN,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33167,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33168,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33169,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33170,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33171,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N

In [39]:
df_DogOV[['dog_id', 'Breed']]

       dog_id                              Breed
0           8     Labrador Retriever/Village Dog
1           9                  Italian Greyhound
2          11                 Labrador Retriever
3          12  Siberian Husky/Labrador Retriever
4          13                   Golden Retriever
...       ...                                ...
33167  103633              Australian Cattle Dog
33168  103637            Golden Retriever/Poodle
33169  103643                Poodle/Bichon Frise
33170  103647                      Border Collie
33171  103658  Border Collie/Australian Shepherd

[33172 rows x 2 columns]

In [40]:
df_DogOV["Breed"].value_counts()

Breed
Labrador Retriever                          1985
Golden Retriever                            1728
German Shepherd Dog                          759
Poodle                                       547
Australian Shepherd                          543
                                            ...
Treeing Walker Coonhound/Russell Terrier       1
Plott/German Shorthaired Pointer               1
Pekingese/Border Terrier                       1
Great Dane/Boerboel                            1
Australian Cattle Dog/Russell Terrier          1
Name: count, Length: 3514, dtype: int64

In [41]:
df_DogOV["Weight_Class_5KGBin_at_HLES"].value_counts()

Weight_Class_5KGBin_at_HLES
5-9.9                                   5384
25-29.9                                 4937
20-24.9                                 4909
30-34.9                                 3821
15-19.9                                 3439
10-14.9                                 3157
35-39.9                                 2548
0-4.9                                   1832
45+                                     1755
40-44.9                                 1321
Insufficient information to classify      15
Name: count, dtype: int64

In [42]:
# Map the classification dict in helper.py to the 'Breed' column
df_DogOV['Breed'] = df_DogOV['Breed'].map(lambda x: classification_mapping.get(x, x))
df_DogOV['Breed']

0           Labrador Retriever/Village Dog
1                        Italian Greyhound
2                       Labrador Retriever
3        Siberian Husky/Labrador Retriever
4                         Golden Retriever
                       ...
33167                Australian Cattle Dog
33168                         Goldendoodle
33169                  Poodle/Bichon Frise
33170                        Border Collie
33171    Border Collie/Australian Shepherd
Name: Breed, Length: 33172, dtype: object

In [43]:
df_DogOV["Breed"][df_DogOV["Breed_Status"] == "Mixed breed"].value_counts()

Breed
Goldendoodle                               623
Labradoodle                                496
Labrador Mix                               494
Unknown/Unknown                            474
Terrier Mix                                361
                                          ...
Jack Russell Terrier/Collie                  1
Boston Terrier/Samoyed                       1
Anatolian Shepherd Dog/Chow Chow             1
American Water Spaniel/Golden Retriever      1
Australian Cattle Dog/Russell Terrier        1
Name: count, Length: 3074, dtype: int64

In [44]:
df_DogOV[["Breed"]][df_DogOV["Breed"].str.contains("Unknown")].value_counts()

Breed
Unknown/Unknown                         475
Golden Retriever/Unknown                 48
Catahoula Leopard Dog/Unknown            37
Miniature Schnauzer/Unknown              34
Rat Terrier/Unknown                      32
                                       ...
Slovakian Wirehaired Pointer/Unknown      1
Skye Terrier/Unknown                      1
English Setter/Unknown                    1
Shikoku/Unknown                           1
Affenpinscher/Unknown                     1
Name: count, Length: 174, dtype: int64

## If Unknown/Unknown -> mixed differentiated by size categories

In [45]:
df_DogOV[["Breed", "Weight_Class_5KGBin_at_HLES"]][df_DogOV["Breed"].str.contains("Unknown/Unknown")].value_counts()

Breed            Weight_Class_5KGBin_at_HLES
Unknown/Unknown  15-19.9                        100
                 20-24.9                        100
                 10-14.9                         84
                 5-9.9                           66
                 25-29.9                         63
                 30-34.9                         26
                 35-39.9                         19
                 0-4.9                            7
                 45+                              5
                 40-44.9                          4
Name: count, dtype: int64

In [46]:
def classify_breed(weight_class):
    if weight_class in ['0-4.9', '5-9.9', '10-14.9']:
        return 'Mixed Breed Small (0 - 14.9kg)'
    elif weight_class in ['15-19.9', '20-24.9', '25-29.9']:
        return 'Mixed Breed Medium (15 - 29.9kg)'
    elif weight_class in ['30-34.9', '35-39.9', '40-44.9', '45+']:
        return 'Mixed Breed Large (30kg +)'
    else:
        return 'Unknown/Unknown'

# Apply the classification function only to rows where "Breed" contains "Unknown/Unknown"
mask = df_DogOV['Breed'].str.contains("Unknown/Unknown")
df_DogOV.loc[mask, 'Breed'] = df_DogOV.loc[mask, 'Weight_Class_5KGBin_at_HLES'].apply(classify_breed)

In [47]:
df_DogOV[['Breed', 'dog_id']][df_DogOV["Breed"]=='Mixed Breed Medium (15 - 29.9kg)']

                                  Breed  dog_id
55     Mixed Breed Medium (15 - 29.9kg)     190
532    Mixed Breed Medium (15 - 29.9kg)    1582
653    Mixed Breed Medium (15 - 29.9kg)    1916
902    Mixed Breed Medium (15 - 29.9kg)    2683
1113   Mixed Breed Medium (15 - 29.9kg)    3407
...                                 ...     ...
32995  Mixed Breed Medium (15 - 29.9kg)  102981
33021  Mixed Breed Medium (15 - 29.9kg)  103087
33067  Mixed Breed Medium (15 - 29.9kg)  103257
33076  Mixed Breed Medium (15 - 29.9kg)  103289
33116  Mixed Breed Medium (15 - 29.9kg)  103425

[263 rows x 2 columns]

In [48]:
# added Step of taking the first breed label if 2 are given with a / inbetween

# Function to process the 'Breed' column
def process_breed(breed):
    if breed.startswith("Unknown"):
        # Split the breed with '/' and take what's after the '/'
        parts = breed.split('/')
        if len(parts) > 1:
            return parts[1].strip() + " Mix"
    elif '/' in breed:
        # If the breed contains '/', split and append ' Mix'
        return breed.split('/')[0].strip() + " Mix"
    else:
        return breed

# Apply the function to the 'Breed' column
df_DogOV['Breed'] = df_DogOV['Breed'].apply(process_breed)
df_DogOV['Breed']

0        Labrador Retriever Mix
1             Italian Greyhound
2            Labrador Retriever
3            Siberian Husky Mix
4              Golden Retriever
                  ...
33167     Australian Cattle Dog
33168              Goldendoodle
33169                Poodle Mix
33170             Border Collie
33171         Border Collie Mix
Name: Breed, Length: 33172, dtype: object

In [49]:
# Map the classification_2 dictionary to the 'Breed' column
df_DogOV['Breed'] = df_DogOV['Breed'].map(lambda x: classification_mapping_2.get(x, x))
df_DogOV['Breed']

0                 Labrador Mix
1            Italian Greyhound
2           Labrador Retriever
3           Siberian Husky Mix
4             Golden Retriever
                 ...
33167    Australian Cattle Dog
33168             Goldendoodle
33169               Poodle Mix
33170            Border Collie
33171        Border Collie Mix
Name: Breed, Length: 33172, dtype: object

## Merge with Breed_grouping extended

In [50]:
file_path_breeds = "../Dataset/Supplementary_data/breed_grouping_extended.csv"
df_breeds = pd.read_csv(file_path_breeds, delimiter=";", encoding="ISO-8859-1")
df_breeds

,Unnamed: 0,Breed Type,Sub Breed,Breed Group,Breed
0,0,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog
1,1,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog Mix
2,2,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita
3,3,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita Mix
4,5,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Alaskan Husky
...,...,...,...,...,...
947,1018,Working dogs,Shepherd - Other,Shepherd,Shiloh Shepherd Mix
948,1019,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd
949,1020,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd Mix
950,1022,Working dogs,Shepherd - Other,Shepherd,Tervuren
951,1023,Working dogs,Shepherd - Other,Shepherd,Tervuren Mix

In [15]:
# Merge the two DataFrames based on the 'breed' column
merged_DogOV_breeds = pd.merge(df_DogOV, df_breeds, on='Breed', how='left')

In [16]:
merged_DogOV_breeds.drop_duplicates(inplace=True)
merged_DogOV_breeds

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Unnamed: 0,Breed Type,Sub Breed,Breed Group
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,N,NaN,Y,N,N,N,434.0,Mixed,Lab mix,Mixed Other
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,N,NaN,Y,N,N,N,238.0,Herding dogs,Sight Hounds,Herding dogs - Other
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,N,NaN,Y,N,N,N,450.0,Retriever,Labs,Labs
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,N,NaN,Y,N,N,N,94.0,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,N,NaN,Y,N,N,N,443.0,Retriever,Golden,Golden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33953,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,N,NaN,N,N,N,N,422.0,Mixed,Golden mix,Mixed Lab and Golden
33954,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,N,NaN,N,N,N,N,916.0,Working dogs,Non-sport,Mixed Small
33955,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,N,NaN,N,N,N,N,920.0,Working dogs,Non-sport,Working dogs - Non-sport
33956,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,N,NaN,N,N,N,N,134.0,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like
33957,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,N,NaN,N,N,N,N,135.0,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like

In [17]:
merged_DogOV_breeds[['Breed Group', 'Breed']][merged_DogOV_breeds['Breed'] == 'Dachshund Mix']

      Breed Group          Breed
98      Dachshund  Dachshund Mix
195     Dachshund  Dachshund Mix
389     Dachshund  Dachshund Mix
455     Dachshund  Dachshund Mix
504     Dachshund  Dachshund Mix
...           ...            ...
33533   Dachshund  Dachshund Mix
33692   Dachshund  Dachshund Mix
33715   Dachshund  Dachshund Mix
33798   Dachshund  Dachshund Mix
33900   Dachshund  Dachshund Mix

[264 rows x 2 columns]

In [18]:
merged_DogOV_breeds['Breed Group'].value_counts().sum() + merged_DogOV_breeds['Breed Group'].isna().sum()

33958

In [19]:
merged_DogOV_breeds['Breed Group'].isna().sum()

76

In [20]:
merged_DogOV_breeds['Breed'][merged_DogOV_breeds['Breed Group'].isna()].value_counts()

Breed
Village Dog Mix                             16
Wolf Mix                                     5
Drentsche Patrijshond Mix                    2
Lowchen                                      2
Australian Labradoddle                       2
Working Kelpie                               2
Jagdterrier                                  2
Transylvanian Hound Mix                      2
Australian Labradoodle                       2
Austrailian Labradoodle                      1
Russian Toy Mix                              1
Decker terrier                               1
Czechoslovakian Vlack                        1
Native American Village Dog                  1
African Village Dog                          1
West Siberian Laika                          1
Norrbottenspets                              1
Karakachan                                   1
American English (aka Redtick) Coonhound     1
New Guinea Singing Dog                       1
Galgo (Spanish Sighthound)                   1
Large Munsterlander                          1
Toy Austrailan Shepherd                      1
Windsprite                                   1
Lapponian Herder Mix                         1
Galgo Espanol (Spanish greyhound)            1
Maremma                                      1
Red Setter                                   1
Tamaskan                                     1
Romanian Mioritic Shepherd Dog               1
Slovensky Cuvac                              1
American Leopard Hound Mix                   1
Unknown Mix                                  1
Hamiltonstovare                              1
Prague Ratter                                1
Bavarian Mountain Scent Hound                1
Slovakian Wirehaired Pointer Mix             1
Polish Tatra Mountain Sheepdog               1
Aussie - Dor                                 1
Slovensky Cuvac Mix                          1
Braque de Bourbonnais                        1
Broholmer                                    1
Braque Francais Pyrenean                     1
Jagdterrier Mix                              1
McNab                                        1
Transylvanian Hound                          1
Northeast African Village dog                1
PODENCO                                      1
Cimarron Uruguayo                            1
Kromfohrlander Mix                           1
Name: count, dtype: int64

In [21]:
merged_DogOV_breeds[["dog_id", "Breed", "Breed Group", "Weight_Class_5KGBin_at_HLES"]][merged_DogOV_breeds['Breed'] == 'Australian Shepherd - miniature']

Empty DataFrame
Columns: [dog_id, Breed, Breed Group, Weight_Class_5KGBin_at_HLES]
Index: []

In [22]:
merged_DogOV_breeds["Breed Group"][merged_DogOV_breeds["Breed_Status"] == "Mixed breed"].isna().sum()

32

In [23]:
merged_DogOV_breeds["Breed Group"][merged_DogOV_breeds["Breed_Status"] == "Purebred"].isna().sum()

43

In [24]:
# Assuming merged_DogOV_breeds is your DataFrame
condition = merged_DogOV_breeds['Breed Group'].isna() & merged_DogOV_breeds['Breed Group'][merged_DogOV_breeds['Breed_Status'] != 'Mixed breed'].isna() & merged_DogOV_breeds['Breed Group'][merged_DogOV_breeds['Breed_Status'] != 'Purebred'].isna()

# Applying the condition to filter the DataFrame
filtered_data = merged_DogOV_breeds[condition]

# Printing the full dataset
filtered_data

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Unnamed: 0,Breed Type,Sub Breed,Breed Group
2749,8948,2020-11-13,DAP Pack,NaN,NaN,NaN,Estimated using owner-reported birth year and ...,N,NaN,NaN,...,N,NaN,Y,N,N,N,NaN,NaN,NaN,NaN

In [25]:
merged_DogOV_breeds[merged_DogOV_breeds[["Breed Group", "Breed_Status"]].isna().all(axis=1)]

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Unnamed: 0,Breed Type,Sub Breed,Breed Group
2749,8948,2020-11-13,DAP Pack,NaN,NaN,NaN,Estimated using owner-reported birth year and ...,N,NaN,NaN,...,N,NaN,Y,N,N,N,NaN,NaN,NaN,NaN

In [26]:
merged_DogOV_breeds["Breed_Status"].value_counts()

Breed_Status
Mixed breed    17312
Purebred       16592
Name: count, dtype: int64

In [27]:
merged_DogOV_breeds["Breed_Status"].isna().sum()

54

In [28]:
one_hot_encoded_breed_group = pd.get_dummies(merged_DogOV_breeds['Breed Group'], prefix='breed_group')
one_hot_encoded_breed_group

,breed_group_Ancient and Spitz,breed_group_Australian-like,breed_group_Chihuahua,breed_group_Dachshund,breed_group_Golden,breed_group_Herding dogs - Other,breed_group_Hound,breed_group_Labs,breed_group_Mastiff-like Group 1,breed_group_Mastiff-like Group 2,breed_group_Mixed Lab and Golden,breed_group_Mixed Large,breed_group_Mixed Medium,breed_group_Mixed Other,breed_group_Mixed Small,breed_group_Shepherd,breed_group_Spaniels,breed_group_Terriers,breed_group_Toy - Other,breed_group_Working dogs - Non-sport
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33953,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
33954,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
33955,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
33956,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33957,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [29]:
id_breed_group_one_hot = pd.concat([merged_DogOV_breeds[['dog_id']], one_hot_encoded_breed_group], axis=1)
id_breed_group_one_hot

,dog_id,breed_group_Ancient and Spitz,breed_group_Australian-like,breed_group_Chihuahua,breed_group_Dachshund,breed_group_Golden,breed_group_Herding dogs - Other,breed_group_Hound,breed_group_Labs,breed_group_Mastiff-like Group 1,...,breed_group_Mixed Lab and Golden,breed_group_Mixed Large,breed_group_Mixed Medium,breed_group_Mixed Other,breed_group_Mixed Small,breed_group_Shepherd,breed_group_Spaniels,breed_group_Terriers,breed_group_Toy - Other,breed_group_Working dogs - Non-sport
0,8,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,9,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,11,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,12,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,13,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33953,103637,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
33954,103643,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
33955,103643,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33956,103647,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33957,103658,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [30]:
id_breed_group_one_hot.to_pickle('one_hot_encoded_breed_group_with_id.pkl')
id_breed_group_one_hot.to_csv('one_hot_encoded_breed_group_with_id.csv', index=False)

In [31]:
one_hot_encoded_breed = pd.get_dummies(merged_DogOV_breeds['Breed'], prefix='breed')
one_hot_encoded_breed

,breed_Affenpinscher,breed_Affenpinscher Mix,breed_Afghan Hound,breed_African Village Dog,breed_Ainu Dog,breed_Airedale Terrier,breed_Airedale Terrier Mix,breed_Akbash,breed_Akita,breed_Akita Mix,...,breed_Wirehaired Pointing Griffon Mix,breed_Wirehaired Vizsla Mix,breed_Wolf Mix,breed_Working Kelpie,breed_Xoloitzcuintli,breed_Xoloitzcuintli Mix,breed_Yorkshire Terrier,breed_Yorkshire Terrier Mix,breed_labradoodle,breed_shiloh shepherd
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33953,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33954,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33955,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33956,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33957,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
id_breed_one_hot = pd.concat([merged_DogOV_breeds[['dog_id']], one_hot_encoded_breed], axis=1)
id_breed_one_hot

,dog_id,breed_Affenpinscher,breed_Affenpinscher Mix,breed_Afghan Hound,breed_African Village Dog,breed_Ainu Dog,breed_Airedale Terrier,breed_Airedale Terrier Mix,breed_Akbash,breed_Akita,...,breed_Wirehaired Pointing Griffon Mix,breed_Wirehaired Vizsla Mix,breed_Wolf Mix,breed_Working Kelpie,breed_Xoloitzcuintli,breed_Xoloitzcuintli Mix,breed_Yorkshire Terrier,breed_Yorkshire Terrier Mix,breed_labradoodle,breed_shiloh shepherd
0,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,9,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,11,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,12,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,13,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33953,103637,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33954,103643,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33955,103643,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33956,103647,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33957,103658,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
id_breed_one_hot.to_pickle('one_hot_encoded_breed_with_id.pkl')

In [34]:
id_breed_one_hot.to_csv('one_hot_encoded_breed_with_id.csv', index=False)