In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [2]:
file_path = '../Dataset/SurveyData/SurveyData_CSV_DAP_2021_HLES_dog_owner_v1.0.csv'

In [3]:
HLES = pd.read_csv(file_path)
HLES

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_6948/1701113859.py:1: DtypeWarning: Columns (5,21,75,77,79,81,83,85,87,89,191,192,193,194,195,196,197,198,199,200,201,204,214,285,295,516,566) have mixed types. Specify dtype option on import or set low_memory=False.
  HLES = pd.read_csv(file_path)

,dog_id,owner_id,st_hles_completion_date,dd_breed_pure_or_mixed,dd_breed_pure,dd_breed_pure_non_akc,dd_breed_mixed_primary,dd_breed_mixed_secondary,dd_age_years,dd_age_basis,...,oc_primary_residence_state,oc_primary_residence_census_division,oc_primary_residence_ownership,oc_primary_residence_ownership_other_description,oc_primary_residence_time_percentage,oc_secondary_residence,oc_secondary_residence_state,oc_secondary_residence_ownership,oc_secondary_residence_ownership_other_description,oc_secondary_residence_time_percentage
0,10509,14660,2020-10-17,2,NaN,NaN,16.0,999.0,16.333333,2,...,MO,4.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
1,74227,16755,2020-10-26,2,NaN,NaN,133.0,12.0,1.833333,1,...,MD,5.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
2,32487,8568,2020-09-07,1,159.0,NaN,NaN,NaN,13.000000,3,...,VA,5.0,1,NaN,NaN,False,NaN,NaN,NaN,NaN
3,63150,5380,2020-08-21,2,NaN,NaN,999.0,999.0,13.000000,3,...,CA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
4,33369,15957,2020-10-23,2,NaN,NaN,230.0,82.0,2.166667,1,...,OH,3.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33167,91849,32736,2021-06-22,2,NaN,NaN,276.0,1.0,10.000000,3,...,CA,9.0,2,NaN,5.0,True,NH,2.0,NaN,1.0
33168,33783,9482,2020-09-15,2,NaN,NaN,130.0,195.0,3.000000,3,...,WA,9.0,1,NaN,NaN,False,NaN,NaN,NaN,NaN
33169,98862,32312,2021-05-25,2,NaN,NaN,60.0,49.0,4.000000,3,...,AR,7.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
33170,99462,32692,2021-06-18,2,NaN,NaN,204.0,27.0,0.916667,1,...,WA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
33171,6530,23713,2020-11-28,2,NaN,NaN,261.0,999.0,13.416667,2,...,IL,3.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN

In [4]:
# over the past year, how many months the weather hot (over 85 degrees Fahrenheit)
hot = HLES[['pa_hot_weather_months_per_year']].dropna(subset=['pa_hot_weather_months_per_year'])
hot

       pa_hot_weather_months_per_year
0                                   4
1                                   2
2                                   3
3                                   0
4                                   2
...                               ...
33167                               0
33168                               1
33169                               2
33170                               0
33171                               2

[33172 rows x 1 columns]

In [5]:
HLES[['pa_hot_weather_months_per_year']].value_counts()

pa_hot_weather_months_per_year
2                                 9057
3                                 8263
1                                 5591
4                                 3824
0                                 1995
5                                 1691
6                                 1230
7                                  515
8                                  406
9                                  307
10                                 204
12                                  50
11                                  39
Name: count, dtype: int64

In [6]:
HLES[['pa_cold_weather_months_per_year']].value_counts()

pa_cold_weather_months_per_year
3                                  7416
2                                  6523
0                                  5516
1                                  4979
4                                  4748
5                                  2392
6                                  1084
7                                   307
8                                   132
9                                    51
10                                   14
12                                    7
11                                    3
Name: count, dtype: int64

In [7]:
# Normalize the specified features in one line and save in the same columns
#features_to_normalize = ['pa_hot_weather_months_per_year', 'pa_cold_weather_months_per_year']

# Initialize MinMaxScaler
#scaler = MinMaxScaler()

# Normalize
#HLES[features_to_normalize] = scaler.fit_transform(HLES[features_to_normalize])
#HLES[features_to_normalize[0]].value_counts()

In [8]:
hot_with_dog_id = HLES[['dog_id', 'pa_hot_weather_months_per_year']]
#hot_with_dog_id = hot_with_dog_id.dropna()
hot_with_dog_id

       dog_id  pa_hot_weather_months_per_year
0       10509                               4
1       74227                               2
2       32487                               3
3       63150                               0
4       33369                               2
...       ...                             ...
33167   91849                               0
33168   33783                               1
33169   98862                               2
33170   99462                               0
33171    6530                               2

[33172 rows x 2 columns]

In [9]:
hot_with_dog_id.to_csv('features/HotMonths.csv', index=False)
hot_with_dog_id.to_pickle('features/HotMonths.pkl')

In [10]:
cold_with_dog_id = HLES[['dog_id', 'pa_cold_weather_months_per_year']]
#hot_with_dog_id = hot_with_dog_id.dropna()
cold_with_dog_id

       dog_id  pa_cold_weather_months_per_year
0       10509                                2
1       74227                                1
2       32487                                2
3       63150                                0
4       33369                                2
...       ...                              ...
33167   91849                                0
33168   33783                                2
33169   98862                                1
33170   99462                                1
33171    6530                                4

[33172 rows x 2 columns]

In [11]:
cold_with_dog_id.to_csv('features/ColdMonths.csv', index=False)
cold_with_dog_id.to_pickle('features/ColdMonths.pkl')

In [12]:
# over the past year, how many months the weather cold (below 40 degrees Fahrenheit)
cold = HLES[['pa_cold_weather_months_per_year']].dropna(subset=['pa_cold_weather_months_per_year'])
cold

       pa_cold_weather_months_per_year
0                                    2
1                                    1
2                                    2
3                                    0
4                                    2
...                                ...
33167                                0
33168                                2
33169                                1
33170                                1
33171                                4

[33172 rows x 1 columns]

In [13]:
# over the past year, the weather moderate (40-85 degrees Fahrenheit)
moderate = HLES[['pa_moderate_weather_months_per_year']].dropna(subset=['pa_moderate_weather_months_per_year'])
moderate

       pa_moderate_weather_months_per_year
0                                       11
1                                       11
2                                       10
3                                       12
4                                        8
...                                    ...
33167                                   12
33168                                    7
33169                                    9
33170                                   12
33171                                    7

[33172 rows x 1 columns]

In [14]:
dog_id = HLES[['dog_id']]

In [15]:
weather_over_year = pd.concat([dog_id, hot, moderate, cold], axis=1)
weather_over_year

,dog_id,pa_hot_weather_months_per_year,pa_moderate_weather_months_per_year,pa_cold_weather_months_per_year
0,10509,4,11,2
1,74227,2,11,1
2,32487,3,10,2
3,63150,0,12,0
4,33369,2,8,2
...,...,...,...,...
33167,91849,0,12,0
33168,33783,1,7,2
33169,98862,2,9,1
33170,99462,0,12,1
33171,6530,2,7,4

In [16]:
file_path2 = 'SurveyData_CSV_DAP_2021_AFUS_dog_owner_v1.0.csv'

In [45]:
AFUS = pd.read_csv(file_path2)
AFUS

FileNotFoundError: [Errno 2] No such file or directory: 'SurveyData_CSV_DAP_2021_AFUS_dog_owner_v1.0.csv'