In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [12]:
file_path_HLES = '../Dataset/SurveyData/SurveyData_CSV_DAP_2021_HLES_dog_owner_v1.0.csv'
df_HLES = pd.read_csv(file_path_HLES)
df_HLES

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_23816/1766648619.py:2: DtypeWarning: Columns (5,21,75,77,79,81,83,85,87,89,191,192,193,194,195,196,197,198,199,200,201,204,214,285,295,516,566) have mixed types. Specify dtype option on import or set low_memory=False.
  df_HLES = pd.read_csv(file_path_HLES)

,dog_id,owner_id,st_hles_completion_date,dd_breed_pure_or_mixed,dd_breed_pure,dd_breed_pure_non_akc,dd_breed_mixed_primary,dd_breed_mixed_secondary,dd_age_years,dd_age_basis,...,oc_primary_residence_state,oc_primary_residence_census_division,oc_primary_residence_ownership,oc_primary_residence_ownership_other_description,oc_primary_residence_time_percentage,oc_secondary_residence,oc_secondary_residence_state,oc_secondary_residence_ownership,oc_secondary_residence_ownership_other_description,oc_secondary_residence_time_percentage
0,10509,14660,2020-10-17,2,NaN,NaN,16.0,999.0,16.333333,2,...,MO,4.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
1,74227,16755,2020-10-26,2,NaN,NaN,133.0,12.0,1.833333,1,...,MD,5.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
2,32487,8568,2020-09-07,1,159.0,NaN,NaN,NaN,13.000000,3,...,VA,5.0,1,NaN,NaN,False,NaN,NaN,NaN,NaN
3,63150,5380,2020-08-21,2,NaN,NaN,999.0,999.0,13.000000,3,...,CA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
4,33369,15957,2020-10-23,2,NaN,NaN,230.0,82.0,2.166667,1,...,OH,3.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33167,91849,32736,2021-06-22,2,NaN,NaN,276.0,1.0,10.000000,3,...,CA,9.0,2,NaN,5.0,True,NH,2.0,NaN,1.0
33168,33783,9482,2020-09-15,2,NaN,NaN,130.0,195.0,3.000000,3,...,WA,9.0,1,NaN,NaN,False,NaN,NaN,NaN,NaN
33169,98862,32312,2021-05-25,2,NaN,NaN,60.0,49.0,4.000000,3,...,AR,7.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
33170,99462,32692,2021-06-18,2,NaN,NaN,204.0,27.0,0.916667,1,...,WA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
33171,6530,23713,2020-11-28,2,NaN,NaN,261.0,999.0,13.416667,2,...,IL,3.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN

In [13]:
df_HLES[["od_annual_income_range_usd", "od_max_education"]]

       od_annual_income_range_usd  od_max_education
0                               4                 5
1                              10                10
2                              10                10
3                               5                11
4                               7                 8
...                           ...               ...
33167                          98                 8
33168                           4                 5
33169                           3                 8
33170                           5                 8
33171                          98                 8

[33172 rows x 2 columns]

In [22]:
df_HLES["od_max_education"].value_counts()

od_max_education
8     11474
9      9340
5      3102
10     2916
11     2627
7      2065
6       848
3       624
4       118
2        54
1         2
0         2
Name: count, dtype: int64

In [15]:
df_HLES['od_annual_income_range_usd'][df_HLES['od_annual_income_range_usd'] == 98]

32       98
39       98
47       98
49       98
58       98
         ..
33146    98
33151    98
33160    98
33167    98
33171    98
Name: od_annual_income_range_usd, Length: 4076, dtype: int64

In [16]:
df_HLES['od_annual_income_range_usd'].value_counts()

od_annual_income_range_usd
10    6089
98    4076
6     3712
4     3703
5     3576
3     3192
7     2574
8     2192
2     1939
9     1519
1      600
Name: count, dtype: int64

In [17]:
# Impute missing values with the most frequent category (mode)

# most_frequent_category = df_HLES['annual_income_range'].mode().iloc[0]
# df_HLES['annual_income_range'].replace(98, most_frequent_category, inplace=True)

In [18]:
df_HLES['od_annual_income_range_usd'].replace(98, np.nan, inplace=True)

In [40]:
# important to do this!Please keep the dog_id in combined_data, easy for checking
id_owner_demographics = df_HLES[['dog_id', 'od_annual_income_range_usd']]
id_owner_demographics

       dog_id  od_annual_income_range_usd
0       10509                         4.0
1       74227                        10.0
2       32487                        10.0
3       63150                         5.0
4       33369                         7.0
...       ...                         ...
33167   91849                         NaN
33168   33783                         4.0
33169   98862                         3.0
33170   99462                         5.0
33171    6530                         NaN

[33172 rows x 2 columns]

In [41]:
# make a new pickle file can load by our model.ipynb
id_owner_demographics.to_pickle('features/od_income.pkl')
id_owner_demographics.to_csv('features/od_income.csv', index=False)

## Education level

In [24]:
# important to do this!Please keep the dog_id in combined_data, easy for checking
id_education = df_HLES[['dog_id', 'od_max_education']]
id_education

       dog_id  od_max_education
0       10509                 5
1       74227                10
2       32487                10
3       63150                11
4       33369                 8
...       ...               ...
33167   91849                 8
33168   33783                 5
33169   98862                 8
33170   99462                 8
33171    6530                 8

[33172 rows x 2 columns]

In [25]:
# make a new pickle file can load by our model.ipynb
id_education.to_pickle('features/od_education.pkl')
id_education.to_csv('features/od_education.csv', index=False)