In [258]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [259]:
file_path_HLES = 'Dataset/SurveyData/SurveyData_CSV_DAP_2021_HLES_dog_owner_v1.0.csv'

In [260]:
df = pd.read_csv(file_path_HLES)
df

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_63733/3112864108.py:1: DtypeWarning: Columns (5,21,75,77,79,81,83,85,87,89,191,192,193,194,195,196,197,198,199,200,201,204,214,285,295,516,566) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path_HLES)

,dog_id,owner_id,st_hles_completion_date,dd_breed_pure_or_mixed,dd_breed_pure,dd_breed_pure_non_akc,dd_breed_mixed_primary,dd_breed_mixed_secondary,dd_age_years,dd_age_basis,...,oc_primary_residence_state,oc_primary_residence_census_division,oc_primary_residence_ownership,oc_primary_residence_ownership_other_description,oc_primary_residence_time_percentage,oc_secondary_residence,oc_secondary_residence_state,oc_secondary_residence_ownership,oc_secondary_residence_ownership_other_description,oc_secondary_residence_time_percentage
0,10509,14660,2020-10-17,2,NaN,NaN,16.0,999.0,16.333333,2,...,MO,4.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
1,74227,16755,2020-10-26,2,NaN,NaN,133.0,12.0,1.833333,1,...,MD,5.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
2,32487,8568,2020-09-07,1,159.0,NaN,NaN,NaN,13.000000,3,...,VA,5.0,1,NaN,NaN,False,NaN,NaN,NaN,NaN
3,63150,5380,2020-08-21,2,NaN,NaN,999.0,999.0,13.000000,3,...,CA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
4,33369,15957,2020-10-23,2,NaN,NaN,230.0,82.0,2.166667,1,...,OH,3.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33167,91849,32736,2021-06-22,2,NaN,NaN,276.0,1.0,10.000000,3,...,CA,9.0,2,NaN,5.0,True,NH,2.0,NaN,1.0
33168,33783,9482,2020-09-15,2,NaN,NaN,130.0,195.0,3.000000,3,...,WA,9.0,1,NaN,NaN,False,NaN,NaN,NaN,NaN
33169,98862,32312,2021-05-25,2,NaN,NaN,60.0,49.0,4.000000,3,...,AR,7.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
33170,99462,32692,2021-06-18,2,NaN,NaN,204.0,27.0,0.916667,1,...,WA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN
33171,6530,23713,2020-11-28,2,NaN,NaN,261.0,999.0,13.416667,2,...,IL,3.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN

In [261]:
df_3 = df[df["dog_id"] == 48131]
df_3

,dog_id,owner_id,st_hles_completion_date,dd_breed_pure_or_mixed,dd_breed_pure,dd_breed_pure_non_akc,dd_breed_mixed_primary,dd_breed_mixed_secondary,dd_age_years,dd_age_basis,...,oc_primary_residence_state,oc_primary_residence_census_division,oc_primary_residence_ownership,oc_primary_residence_ownership_other_description,oc_primary_residence_time_percentage,oc_secondary_residence,oc_secondary_residence_state,oc_secondary_residence_ownership,oc_secondary_residence_ownership_other_description,oc_secondary_residence_time_percentage
3078,48131,17703,2020-11-01,1,277.0,Klee Kai,NaN,NaN,1.5,1,...,WA,9.0,2,NaN,NaN,False,NaN,NaN,NaN,NaN

In [262]:
# Specify the folder path containing CSV files
folder_path = 'Dataset/EnvironmentData'

# Get a list of all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Loop through each CSV file and print the number of columns
for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    df = pd.read_csv(file_path)

    # Print the file name and the number of columns
    print(f"File: {csv_file}, Number of Columns: {len(df.columns)}")

File: EnvironmentData_CSV_DAP_2021_ENVIRONMENT_v1.0.csv, Number of Columns: 147

In [263]:
# Specify the folder path containing CSV files
folder_path = 'Dataset/SurveyData'

# Get a list of all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Loop through each CSV file and print the number of columns
for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    df = pd.read_csv(file_path)

    # Print the file name and the number of columns
    print(f"File: {csv_file}, Number of Columns: {len(df.columns)}")

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_63733/3211992425.py:10: DtypeWarning: Columns (5,21,75,77,79,81,83,85,87,89,191,192,193,194,195,196,197,198,199,200,201,204,214,285,295,516,566) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File: SurveyData_CSV_DAP_2021_HLES_dog_owner_v1.0.csv, Number of Columns: 658
File: SurveyData_CSV_DAP_2021_EOLS_v1.0.csv, Number of Columns: 227
File: SurveyData_CSV_DAP_2021_CSLB_v1.0.csv, Number of Columns: 18
File: SurveyData_CSV_DAP_2021_AFUS_cancer_conditions_v1.0.csv, Number of Columns: 92

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_63733/3211992425.py:10: DtypeWarning: Columns (36,38,40,42,44,46,48,50,52,54,56,67,70,73,74,75,80,99,195,199,202,207,209,212,348,354,360,366,521,561,735,743) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

File: SurveyData_CSV_DAP_2021_AFUS_dog_owner_v1.0.csv, Number of Columns: 750
File: SurveyData_CSV_DAP_2021_HLES_health_conditions_v1.0.csv, Number of Columns: 12
File: SurveyData_CSV_DAP_2021_AFUS_health_conditions_v1.0.csv, Number of Columns: 14
File: SurveyData_CSV_DAP_2021_HLES_cancer_conditions_v1.0.csv, Number of Columns: 90

In [314]:
file_path_DogOverview = "Dataset/DogOverview/DogOverview_CSV_DAP_2021_DogOverview_v1.0.csv"
df_DogOV = pd.read_csv(file_path_DogOverview)
df_DogOV

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,LifeStage_Class_at_HLES,CSLB_2020_Complete,CSLB_2021_Complete,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Senior,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Mature Adult,Y,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Young Adult,Y,Y,NNNNNNNNNNN,N,NaN,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33167,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33168,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33169,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33170,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33171,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N

In [317]:
df_1 = df_DogOV[df_DogOV["dog_id"] == 74227]
df_1

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,LifeStage_Class_at_HLES,CSLB_2020_Complete,CSLB_2021_Complete,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021
21169,74227,2020-10-26,DAP Pack,NaN,2018-12-15,1.9,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,Y,Y,YYYYYYYYYYY,N,NaN,Y,N,N,N

In [318]:
# added Step of taking the first breed label if 2 are given with a / inbetween
df_DogOV['Breed'] = df_DogOV['Breed'].str.split('/').str[0]
df_DogOV['Breed']

0           Labrador Retriever
1            Italian Greyhound
2           Labrador Retriever
3               Siberian Husky
4             Golden Retriever
                 ...
33167    Australian Cattle Dog
33168         Golden Retriever
33169                   Poodle
33170            Border Collie
33171            Border Collie
Name: Breed, Length: 33172, dtype: object

In [319]:
df_2 = df_DogOV[df_DogOV["Breed"] == "Klee Kai"]
df_2

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,LifeStage_Class_at_HLES,CSLB_2020_Complete,CSLB_2021_Complete,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021
13398,48131,2020-11-01,Foundation,2021-06-23,2019-04-15,1.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Young Adult,Y,Y,YYYYYYYYYYY,N,3.102006e+13,Y,N,N,N

In [320]:
df_DogOV["dog_id"].value_counts()

dog_id
8         1
77173     1
77269     1
77267     1
77263     1
         ..
39855     1
39851     1
39846     1
39845     1
103658    1
Name: count, Length: 33172, dtype: int64

In [321]:
file_path_breeds = "breed_grouping.csv"
df_breeds = pd.read_csv("Dataset/Supplementary_data/breed_grouping.csv", delimiter=";", encoding="ISO-8859-1")
df_breeds.tail(20)

       Breed Type         Sub Breed Breed Group                    Breed
529  Working dogs          Shepherd    Shepherd          German Pinscher
530  Working dogs          Shepherd    Shepherd          German Shepherd
531  Working dogs          Shepherd    Shepherd      German Shepherd Dog
532  Working dogs          Shepherd    Shepherd      German Shepherd Mix
533  Working dogs          Shepherd    Shepherd                 Hovawart
534  Working dogs          Shepherd    Shepherd                 Malinois
535  Working dogs  Shepherd - Other    Shepherd  American White Shepherd
536  Working dogs  Shepherd - Other    Shepherd                Beauceron
537  Working dogs  Shepherd - Other    Shepherd                Blue Lacy
538  Working dogs  Shepherd - Other    Shepherd               Blue Lacey
539  Working dogs  Shepherd - Other    Shepherd      Caucasian Ovtcharka
540  Working dogs  Shepherd - Other    Shepherd  Central Asian Ovtcharka
541  Working dogs  Shepherd - Other    Shepherd           Dutch Shepherd
542  Working dogs  Shepherd - Other    Shepherd              Groenendael
543  Working dogs  Shepherd - Other    Shepherd            King Shepherd
544  Working dogs  Shepherd - Other    Shepherd              Sarplaninac
545  Working dogs  Shepherd - Other    Shepherd          Shiloh Shepherd
546  Working dogs  Shepherd - Other    Shepherd          shiloh shepherd
547  Working dogs  Shepherd - Other    Shepherd      Shiloh Shepherd Mix
548  Working dogs  Shepherd - Other    Shepherd                 Tervuren

In [322]:
#df_breeds["Breed Type"].value_counts()
#df_breeds["Sub Breed"].value_counts()
#df_breeds["Breed Group"].value_counts()

In [324]:
# Merge the two DataFrames based on the 'breed' column
merged_DogOV_breeds = pd.merge(df_DogOV, df_breeds, on='Breed', how='left')
merged_DogOV_breeds

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Breed Type,Sub Breed,Breed Group
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Herding dogs,Sight Hounds,Herding dogs - Other
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Golden,Golden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33172,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,Australian,Australian-like
33173,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Retriever,Golden,Golden
33174,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Working dogs,Non-sport,Working dogs - Non-sport
33175,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like
33176,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like

In [335]:
merged_DogOV_breeds.drop_duplicates(inplace=True)
merged_DogOV_breeds

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Breed Type,Sub Breed,Breed Group
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Herding dogs,Sight Hounds,Herding dogs - Other
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Golden,Golden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33172,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,Australian,Australian-like
33173,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Retriever,Golden,Golden
33174,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Working dogs,Non-sport,Working dogs - Non-sport
33175,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like
33176,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like

In [336]:
merged_DogOV_breeds["dog_id"].value_counts()

dog_id
8         1
77173     1
77269     1
77267     1
77263     1
         ..
39855     1
39851     1
39846     1
39845     1
103658    1
Name: count, Length: 33172, dtype: int64

In [356]:
merged_DogOV_breeds["Breed Group"].value_counts()

Breed Group
Mastiff-like Group 1        4850
Labs                        4604
Australian-like             3151
Terriers                    2662
Golden                      2496
Toy - Other                 2483
Spaniels                    2067
Shepherd                    1996
Working dogs - Non-sport    1778
Ancient and Spitz           1710
Hound                       1542
Herding dogs - Other        1322
Chihuahua                   1064
Dachshund                    689
Mastiff-like Group 2           3
Mixed Lab and Golden           3
Name: count, dtype: int64

In [337]:
df_1 = merged_DogOV_breeds[merged_DogOV_breeds["dog_id"].isin([29557, 94025, 21583, 35704, 70528])]
df_1

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Breed Type,Sub Breed,Breed Group
6054,21583,2020-09-09,DAP Pack,NaN,2007-11-15,12.8,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
8132,29557,2020-09-09,DAP Pack,NaN,2018-03-15,2.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
9925,35704,2020-10-22,Foundation,2021-06-09,2012-11-15,7.9,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,YYYYYYYYYYY,N,3.102006e+13,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
19986,70528,2020-08-03,DAP Pack,NaN,2019-01-15,1.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
29737,94025,2021-02-26,DAP Pack,NaN,2011-02-15,10.0,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz

In [338]:
df_1 = df_DogOV[df_DogOV["dog_id"].isin([29557, 94025, 21583, 35704, 70528])]
df_1

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,LifeStage_Class_at_HLES,CSLB_2020_Complete,CSLB_2021_Complete,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021
6054,21583,2020-09-09,DAP Pack,NaN,2007-11-15,12.8,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Senior,Y,Y,YYYYYYYYYYY,N,NaN,Y,N,N,N
8131,29557,2020-09-09,DAP Pack,NaN,2018-03-15,2.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Young Adult,Y,Y,YYYYYYYYYYY,N,NaN,Y,N,N,N
9923,35704,2020-10-22,Foundation,2021-06-09,2012-11-15,7.9,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,Y,Y,YYYYYYYYYYY,N,3.102006e+13,Y,N,N,N
19983,70528,2020-08-03,DAP Pack,NaN,2019-01-15,1.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Young Adult,Y,Y,YYYYYYYYYYY,N,NaN,Y,N,N,N
29733,94025,2021-02-26,DAP Pack,NaN,2011-02-15,10.0,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,Y,NNNNNNNNNNN,N,NaN,Y,N,N,N

In [339]:
merged_DogOV_breeds[["Breed", "Breed Group"]]

                       Breed               Breed Group
0         Labrador Retriever                      Labs
1          Italian Greyhound      Herding dogs - Other
2         Labrador Retriever                      Labs
3             Siberian Husky         Ancient and Spitz
4           Golden Retriever                    Golden
...                      ...                       ...
33172  Australian Cattle Dog           Australian-like
33173       Golden Retriever                    Golden
33174                 Poodle  Working dogs - Non-sport
33175          Border Collie           Australian-like
33176          Border Collie           Australian-like

[33172 rows x 2 columns]

In [340]:
merged_DogOV_breeds["Breed Group"].value_counts().sum()

32420

In [341]:
merged_DogOV_breeds["Breed Group"].isna().sum()

752

In [342]:
filtered_df = merged_DogOV_breeds[merged_DogOV_breeds["Breed Type"].isna()]
filtered_df[["dog_id", "Breed", "Breed Group", "Breed Type"]]

       dog_id                        Breed Breed Group Breed Type
55        190                      Unknown         NaN        NaN
233       718                      Unknown         NaN        NaN
404      1221                      Unknown         NaN        NaN
411      1242                  Village Dog         NaN        NaN
439      1318                      PODENCO         NaN        NaN
...       ...                          ...         ...        ...
33072  103257                      Unknown         NaN        NaN
33081  103289                      Unknown         NaN        NaN
33119  103422                      Unknown         NaN        NaN
33121  103425                      Unknown         NaN        NaN
33171  103626  Miniature American Shepherd         NaN        NaN

[752 rows x 4 columns]

In [343]:
filtered_df["Breed"].value_counts()

Breed
Unknown                           530
Miniature American Shepherd       100
Belgian Sheepdog                   19
Village Dog                        14
Caucasian Shepherd Dog              6
                                 ...
Cimarron Uruguayo                   1
Braque de Bourbonnais               1
Romanian Mioritic Shepherd Dog      1
Large Munsterlander                 1
Kromfohrlander                      1
Name: count, Length: 65, dtype: int64

In [344]:
merged_DogOV_breeds["Breed Type"].value_counts()

Breed Type
Retriever            7100
Mastiff-Like         4853
Herding dogs         4473
Working dogs         3774
Toy dogs             3547
Terriers             2662
Scent Hounds         2231
Spaniels             2067
Ancient and Spitz    1710
Mixed                   3
Name: count, dtype: int64

In [345]:
df["Breed_Status"].value_counts()

Breed_Status
Purebred       16592
Mixed breed    16526
Name: count, dtype: int64

In [346]:
merged_DogOV_breeds

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Breed Type,Sub Breed,Breed Group
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Herding dogs,Sight Hounds,Herding dogs - Other
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Golden,Golden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33172,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,Australian,Australian-like
33173,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Retriever,Golden,Golden
33174,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Working dogs,Non-sport,Working dogs - Non-sport
33175,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like
33176,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like

## Merge DogOverview extended with Breed Type, Sub Breed, Breed Group, Breed with AFUS

In [357]:
file_path_AFUSdo = 'Dataset/SurveyData/SurveyData_CSV_DAP_2021_AFUS_dog_owner_v1.0.csv'
df_AFUSdo = pd.read_csv(file_path_AFUSdo)
df_AFUSdo

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_63733/3492692570.py:2: DtypeWarning: Columns (36,38,40,42,44,46,48,50,52,54,56,67,70,73,74,75,80,99,195,199,202,207,209,212,348,354,360,366,521,561,735,743) have mixed types. Specify dtype option on import or set low_memory=False.
  df_AFUSdo = pd.read_csv(file_path_AFUSdo)

,dog_id,owner_id,afus_complete_date,afus_dd_dog_weight_lbs,afus_dd_insurance_yn,afus_dd_insurance_company,afus_dd_insurance_company_other,afus_dd_activities_companion_animal,afus_dd_activities_obedience,afus_dd_activities_show,...,afus_oc_secondary_residence_change,afus_oc_secondary_residence_change_date,afus_oc_secondary_residence_ownership,afus_oc_secondary_residence_ownership_other_description,afus_oc_secondary_residence_state,afus_oc_secondary_residence_time_percentage,afus_od_age_range_years,afus_od_max_education,afus_od_max_education_other_description,afus_od_annual_income_range_usd
0,68063,9427,2021-10-24,14.0,True,6.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,98.0,I prefer not to answer,98.0
1,54147,10321,2021-10-15,110.0,False,NaN,NaN,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,7.0
2,58831,18537,2021-11-07,72.0,False,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,98.0,Registered dietitian,5.0
3,80304,23529,2021-12-28,18.0,False,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,98.0,"Registered Nursing license, and religious ordi...",98.0
4,51443,20124,2021-12-06,16.0,False,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,8.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15715,29649,3198,2021-08-19,76.0,True,6.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,5.0,NaN,5.0
15716,79295,19482,NaN,63.0,False,NaN,NaN,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15717,6474,12365,2021-10-13,76.0,True,99.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,8.0,NaN,4.0
15718,78391,16866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15719,2375,1764,2021-08-11,15.0,False,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,NaN,3.0

In [360]:
merged_DogOV_breeds_AFUSdo = pd.merge(df_AFUSdo, merged_DogOV_breeds, on='dog_id', how='left')
merged_DogOV_breeds_AFUSdo

,dog_id,owner_id,afus_complete_date,afus_dd_dog_weight_lbs,afus_dd_insurance_yn,afus_dd_insurance_company,afus_dd_insurance_company_other,afus_dd_activities_companion_animal,afus_dd_activities_obedience,afus_dd_activities_show,...,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Breed Type,Sub Breed,Breed Group
0,68063,9427,2021-10-24,14.0,True,6.0,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,Y,N,NaN,NaN,NaN
1,54147,10321,2021-10-15,110.0,False,NaN,NaN,1.0,2.0,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Mastiff-Like,Similar to retrievers,Mastiff-like Group 1
2,58831,18537,2021-11-07,72.0,False,NaN,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Retriever,Golden,Golden
3,80304,23529,2021-12-28,18.0,False,NaN,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Mastiff-Like,Bulldogs,Mastiff-like Group 1
4,51443,20124,2021-12-06,16.0,False,NaN,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15715,29649,3198,2021-08-19,76.0,True,6.0,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,3.102006e+13,Y,N,N,N,Retriever,Labs,Labs
15716,79295,19482,NaN,63.0,False,NaN,NaN,1.0,2.0,NaN,...,NYNNNNNNNYN,N,NaN,Y,N,N,N,Mastiff-Like,Bulldogs,Mastiff-like Group 1
15717,6474,12365,2021-10-13,76.0,True,99.0,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Mastiff-Like,Bulldogs,Mastiff-like Group 1
15718,78391,16866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,YNNNNNNNNNN,Y,NaN,Y,N,N,N,Mastiff-Like,Similar to retrievers,Mastiff-like Group 1
15719,2375,1764,2021-08-11,15.0,False,NaN,NaN,1.0,NaN,NaN,...,YYYYYYYYYYY,N,NaN,Y,N,N,N,Toy dogs,Shih Tzu,Toy - Other

In [361]:
merged_DogOV_breeds_AFUSdo["dog_id"].value_counts()

dog_id
68063    1
83968    1
84389    1
14042    1
81014    1
        ..
24224    1
30572    1
71268    1
49035    1
2375     1
Name: count, Length: 15720, dtype: int64

In [362]:
merged_DogOV_breeds_AFUSdo[["Breed Group", "Breed", "Breed Type", "Sub Breed"]]

,Breed Group,Breed,Breed Type,Sub Breed
0,NaN,Unknown,NaN,NaN
1,Mastiff-like Group 1,Newfoundland,Mastiff-Like,Similar to retrievers
2,Golden,Golden Retriever,Retriever,Golden
3,Mastiff-like Group 1,American Staffordshire Terrier,Mastiff-Like,Bulldogs
4,Ancient and Spitz,Coton De Tulear,Ancient and Spitz,Ancient and Spitz
...,...,...,...,...
15715,Labs,Labrador Retriever,Retriever,Labs
15716,Mastiff-like Group 1,American Staffordshire Terrier,Mastiff-Like,Bulldogs
15717,Mastiff-like Group 1,American Staffordshire Terrier,Mastiff-Like,Bulldogs
15718,Mastiff-like Group 1,Great Dane,Mastiff-Like,Similar to retrievers
15719,Toy - Other,Shih Tzu,Toy dogs,Shih Tzu

In [363]:
merged_DogOV_breeds_AFUSdo["Breed Group"].value_counts()

Breed Group
Labs                        2256
Mastiff-like Group 1        2138
Australian-like             1527
Terriers                    1244
Golden                      1223
Toy - Other                 1165
Spaniels                     976
Shepherd                     911
Working dogs - Non-sport     896
Ancient and Spitz            813
Hound                        760
Herding dogs - Other         645
Chihuahua                    500
Dachshund                    319
Mixed Lab and Golden           3
Name: count, dtype: int64