In [34]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [35]:
file_path_DogOverview = "../Dataset/DogOverview/DogOverview_CSV_DAP_2021_DogOverview_v1.0.csv"
df_DogOV = pd.read_csv(file_path_DogOverview)
df_DogOV

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,LifeStage_Class_at_HLES,CSLB_2020_Complete,CSLB_2021_Complete,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Senior,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Mature Adult,Y,N,NNNNNNNNNNN,N,NaN,Y,N,N,N
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Young Adult,Y,Y,NNNNNNNNNNN,N,NaN,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33167,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33168,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33169,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,Young Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33170,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N
33171,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,Mature Adult,N,N,NNNNNNNNNNN,N,NaN,N,N,N,N

In [36]:
# added Step of taking the first breed label if 2 are given with a / inbetween
df_DogOV['Breed'] = df_DogOV['Breed'].str.split('/').str[0]
df_DogOV['Breed']

0           Labrador Retriever
1            Italian Greyhound
2           Labrador Retriever
3               Siberian Husky
4             Golden Retriever
                 ...
33167    Australian Cattle Dog
33168         Golden Retriever
33169                   Poodle
33170            Border Collie
33171            Border Collie
Name: Breed, Length: 33172, dtype: object

In [37]:
file_path_breeds = "breed_grouping.csv"
df_breeds = pd.read_csv("../Dataset/Supplementary_data/breed_grouping.csv", delimiter=";", encoding="ISO-8859-1")

In [38]:
df_breeds

,Breed Type,Sub Breed,Breed Group,Breed
0,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog
1,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita
2,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita Mix
3,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Alaskan Husky
4,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Alaskan Klee Kai
...,...,...,...,...
551,Working dogs,Shepherd - Other,Shepherd,Sarplaninac
552,Working dogs,Shepherd - Other,Shepherd,Shiloh Shepherd
553,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd
554,Working dogs,Shepherd - Other,Shepherd,Shiloh Shepherd Mix
555,Working dogs,Shepherd - Other,Shepherd,Tervuren

In [39]:
import pandas as pd

# Assuming breeds_df is your DataFrame
# Check if "Mix" is not present in the "Breed" column
non_mix_breeds = df_breeds[~df_breeds['Breed'].str.contains('Mix')]

# Create a copy of the rows where "Mix" is not present
non_mix_breeds_copy = non_mix_breeds.copy()

# Append "Mix" to the "Breed" column in the copied rows
non_mix_breeds_copy['Breed'] = non_mix_breeds_copy['Breed'] + ' Mix'

# Initialize an empty list to store the final result
result_rows = []

# Iterate through the original DataFrame and insert "Mix" appended rows
for index, row in df_breeds.iterrows():
    result_rows.append(row)

    # Check if the current breed does not contain "Mix"
    if 'Mix' not in row['Breed']:
        # Find the corresponding copied row
        copied_row = non_mix_breeds_copy[non_mix_breeds_copy['Breed'] == row['Breed'] + ' Mix'].iloc[0]

        # Insert the copied row directly under the original row
        result_rows.append(copied_row)

# Create a new DataFrame from the result_rows list
result_df = pd.DataFrame(result_rows, columns=df_breeds.columns)

# Reset the index
result_df.reset_index(drop=True, inplace=True)

# Drop duplicates based on all columns
result_df = result_df.drop_duplicates()

# Display the result DataFrame
result_df

,Breed Type,Sub Breed,Breed Group,Breed
0,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog
1,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog Mix
2,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita
3,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita Mix
5,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Alaskan Husky
...,...,...,...,...
1018,Working dogs,Shepherd - Other,Shepherd,Shiloh Shepherd Mix
1019,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd
1020,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd Mix
1022,Working dogs,Shepherd - Other,Shepherd,Tervuren
1023,Working dogs,Shepherd - Other,Shepherd,Tervuren Mix

In [41]:
# Save the result_df DataFrame to a CSV file
result_df.to_csv("../Dataset/Supplementary_data/breed_grouping_extended.csv", sep=";", encoding="ISO-8859-1")
result_df

,Breed Type,Sub Breed,Breed Group,Breed
0,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog
1,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Ainu Dog Mix
2,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita
3,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Akita Mix
5,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz,Alaskan Husky
...,...,...,...,...
1018,Working dogs,Shepherd - Other,Shepherd,Shiloh Shepherd Mix
1019,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd
1020,Working dogs,Shepherd - Other,Shepherd,shiloh shepherd Mix
1022,Working dogs,Shepherd - Other,Shepherd,Tervuren
1023,Working dogs,Shepherd - Other,Shepherd,Tervuren Mix

In [ ]:
df_breeds = pd.read_csv("../Dataset/Supplementary_data/breed_grouping.csv")

In [10]:
df_breeds["Breed"][df_breeds["Breed"].str.contains("Mix")]

2                     Akita Mix
8           American Eskimo Mix
14                Chow Chow Mix
16          Coton De Tulear Mix
36                 Malamute Mix
                 ...
507    Portuguese Water Dog Mix
519        Belgian Shepherd Mix
528    Bouvier Des Flandres Mix
534         German Shepherd Mix
549         Shiloh Shepherd Mix
Name: Breed, Length: 88, dtype: object

In [10]:
# Merge the two DataFrames based on the 'breed' column
merged_DogOV_breeds = pd.merge(df_DogOV, df_breeds, on='Breed', how='left')

In [7]:
merged_DogOV_breeds.drop_duplicates(inplace=True)
merged_DogOV_breeds

,dog_id,DAP_Pack_Date,Cohort,Cohort_Enroll_Date,Estimated_DOB,Estimated_Age_Years_at_HLES,AgeDOB_Estimation_Method,Dog_Reported_Deceased,DOD,Breed_Status,...,AFUS_2021_Complete,EOLS_Complete,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,Breed Type,Sub Breed,Breed Group
0,8,2020-08-12,DAP Pack,NaN,2011-02-15,9.5,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
1,9,2020-10-28,DAP Pack,NaN,2008-04-15,12.5,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Herding dogs,Sight Hounds,Herding dogs - Other
2,11,2020-08-31,DAP Pack,NaN,2011-04-15,9.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Labs,Labs
3,12,2020-09-15,DAP Pack,NaN,2013-08-15,7.1,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Ancient and Spitz,Ancient and Spitz,Ancient and Spitz
4,13,2020-11-22,DAP Pack,NaN,2018-03-15,2.7,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,Y,N,N,N,Retriever,Golden,Golden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33172,103633,2021-12-29,DAP Pack,NaN,2014-09-15,7.3,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,Australian,Australian-like
33173,103637,2021-12-29,DAP Pack,NaN,2019-12-15,2.0,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Retriever,Golden,Golden
33174,103643,2021-12-30,DAP Pack,NaN,2020-04-15,1.7,Estimated using owner-reported birth year and ...,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Working dogs,Non-sport,Working dogs - Non-sport
33175,103647,2021-12-31,DAP Pack,NaN,2016-08-15,5.4,Estimated using owner-reported birth year and ...,N,NaN,Purebred,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like
33176,103658,2021-12-31,DAP Pack,NaN,2010-12-31,11.0,Estimated using owner-reported age,N,NaN,Mixed breed,...,NNNNNNNNNNN,N,NaN,N,N,N,N,Herding dogs,"Collie, Corgi, Sheepdog",Australian-like

## Merge DogOverview extended with Breed Type, Sub Breed, Breed Group, Breed with AFUS

In [ ]:
file_path_AFUSdo = 'Dataset/SurveyData/SurveyData_CSV_DAP_2021_AFUS_dog_owner_v1.0.csv'
df_AFUSdo = pd.read_csv(file_path_AFUSdo)
df_AFUSdo

In [ ]:
merged_DogOV_breeds_AFUSdo = pd.merge(df_AFUSdo, merged_DogOV_breeds, on='dog_id', how='left')
merged_DogOV_breeds_AFUSdo